# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/_publish
/bin
/tmpData
/GoSubTitleSearcher.exe
/GoSubTitleSearcher_x32.exe
/GoSubTitleSearcher_x64.exe
/.vscode
